/* .cards {
  background-color: #fff;
  border-radius: 0.4rem;
  box-shadow: 0 2px 5px;
  cursor: pointer;
  position: relative;
  padding: 10px;
  box-sizing: border-box;
  overflow: hidden;
  text-decoration: none;
  color: #0a8877;
  min-height: 100%;
} */
